body{
    background-color:rgb(1, 31, 58);
}
hr{
    border: 0;
    border: dotted;
    border-style:dotted none none ;
    width: 10%;
    background-color: azure;
    
}
h1{
    color: greenyellow;
}
 th{
    color: greenyellow;
 }
 p{
    color: greenyellow;
 }
 td{
    color: rgb(172, 254, 140);
 }
 img{
    border-radius: 20%;
    width: 50%;
    float: left;
    margin-right: 20%;
    

    
 }